@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

/*general style*/

body {
  background-color: #e7dfd5
  font-family: 'Lato', sans-serif;
  font-size: 16 px;
  font-weight: 100;
  line-height: 1.6;
  color: #3b6978;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  color: #204051;
}

h1 {
  font-size : 32px;
  /*height: 64px;*/
   position: relative;
}

h2 {
  font-size: 24 px;
  line-height: 1.8;
}

a {
  display: inline-block;
  color: #84a9ac;
  font-weight: 400;
  text-decoration: none;
  transition: color .5s;
}


a:hover{
  color:#3b6978;
}

img{
  width: 160px;
  height: 160px;
  object-fit: cover;
}

/*responsive settings*/

@media (max-width: 2000px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 720px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}



/*custom style*/

.container {
  margin: 16px auto;
  padding : 16px 16px;
}

.card-white {
  background-color: rgb(230,230,240);
  /*width: 720px;*/
  border-radius: 4px;
  box-shadow: -8px 8px 32px rgba(0,0,0,.1)
}

.img-circle{
  border-radius: 50%
}

.btn-ltgray {
  background-color: #e7dfd5;
  margin-bottom: 16px;
  padding: 8px 16px;
  border: 4px solid transparent;
  border-radius: 4px;
  width: 168px;
  transition: background-color border .5s;
}

.btn-ltgray:hover {
  background-color: rgb(230,230,240);
  border: 4px solid #e7dfd5;
}

.text-center{
  text-align: center;
}


.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  margin: 0 8px;
}

.list-inline a {
  font-size: 40px;
}

/*animations!*/

#icon-balance-1 {
  animation-duration: 1.25s;
  animation-name: balancing;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

#icon-balance-2 {
  animation-duration: 1.25s;
  animation-delay: 250ms;
  animation-name: balancing;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

#icon-balance-3 {
  animation-duration: 1.25s;
  animation-delay: 500ms;
  animation-name: balancing;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes balancing {
  from {
    transform: rotateZ(-10deg);
  }
  to {
    transform: rotateZ(10deg);
  }
}

#sun {
  /*font-size: 100px;*/
  position: absolute;
  right:calc(50% - 160px);
  animation-duration: 1.5s;
  animation-name: sunscale;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes sunscale {
  from {
    transform: scale(1,1);
  }

  to {
    transform: scale(1.2,1.2);
  }
}
